<!DOCTYPE HTML>
<html>
  <head>
    <title>Emacs Love Stories</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", file="css/awsm_theme_gondola.css") }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400&amp;family=Spectral+SC:wght@500&amp;display=swap" rel="stylesheet">
    <meta name="description" content="Org-mode blog static generator">
    <meta name="keywords" content="Emacs, org, org-mode, blog, static generator, static blog">
  </head>
  <body>
    <header>
      <h1>Emacs Tales</h1>
      <p>A collection of unexpected stories involving emacs</p>
      <nav>
        <ul>
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="{{ url_for("pages", slug="contribute") }}"><span>Tell your story</span></a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      <p>Emacs Tales</p>
    </footer>
  </body>
</html>
