<!DOCTYPE HTML>
<html>
  <head>
    <title>Emacs Tales</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", file="css/awsm_theme_gondola.css") }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400&amp" rel="stylesheet">
    <meta name="description" content="Org-mode blog static generator">
    <meta name="keywords" content="Emacs, org, org-mode, blog, static generator, static blog">
  </head>
  <body>
    <header>
      <a href="{{ url_for("index") }}">
        <h1>Emacs Tales</h1>
        <p>A collection of unexpected stories involving emacs</p>
      </a>
    </header>
    <main>
      {% block intro %}{% endblock %}
      {% block main %}{% endblock %}
    </main>
    <footer>
      <p>Emacs Tales | Made with ♥ and <a href="http://emacs.love/weblorg">weblorg</a></p>
    </footer>
  </body>
</html>
